// Specific CSS for your home-page
.mybanner {
  background-color: black;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
   a {
    color: #EAF2EF;
    font-family: 'rubik', cursive;
    transition: all 0.5s linear;
    font-weight: bold;
    text-decoration: none;
    margin-bottom: 20px;
    font-weight: 400;
  }
    a:hover {
      background-color: #EAF2EF;
      color: black;
      border-radius: 5px;
    }
}
.typedjs {
  color: #EAF2EF;
  font-size: 35px;
  font-family: 'sacramento', cursive;
}
h3 {
  color: #EAF2EF;
  font-size: 50px;
  font-family: 'rubik', cursive;
  letter-spacing: 5px;
  font-weight: 900;
}

.fas.fa-plus {
  color: #EAF2EF;
  font-size: 50px;
  cursor: pointer;
  transition: all 0.5s linear;
  font-weight: light;
}

.position-top-left {
  position: absolute;
  top: 300px;
  left: 350px;
  background-color: black;
  color: #EAF2EF;
}

.my-dropdown-menu{
  background-color: black;
  font-size: 25px;
  display: none;
}

.fas.fa-plus.down{
  -ms-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

