<div class="mybanner">

  <!-- Single button -->
  <div class="position-top-left">
    <!-- <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Action <span class="caret"></span>
    </button> -->
    <i class="fas fa-plus dropdown-toggle" data-toggle="dropdown" ></i>
    <ul class="my-dropdown-menu">
      <br>
      <%= link_to 'recipes', cocktails_path %></li>
      <br>
      <a href="#" target="_blank">shop</a></li>
      <br>
      <a href="#" target="_blank">blog</a></li>
    </ul>
  </div>



  <div class="textheader">
    <h3>TREAT YOURSELF</h3>
  </div>
  <br>
  <div class="typedjs">
    <span id="typedjs"></span>
  </div>
</div>
